html, body {
  width: 300px;
} 

.yeet{
padding-left: 4%;
}

.inputfield{
padding-top: 55%;
}

input[type=text]{
  font-size: 25px;
}

input[type=submit]{
  width: 250px;
  height: 50px;
  background-color: #4286f4;
}

.championname{
  font-size: 25px;
}

.page-choice {
  width: 100%;
  padding: 4px;
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
}

.page-choice:hover {
  background-color: #CFF2F2;
}
